@font-face {
    font-family: LibreBaskerville;
    src: url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf),
        url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf),
        url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

/* variaveis */
:root {
    --cor-azul-marinho: #13293D;
    --cor-azul: #1B98E0;
    --cor-branco-mais-menos: #E8F1F2;
    --cor-lapis-lazuli: #006494;
    --cor-cerulian: #247BA0;
    --cor-branco: #f6f6f6;
    --cor-preto: #000000;
    --cor-cinza-maisoumenos: #BEBEBE;
    --cor-cerulian: #247BA0;

    --borda: 1px solid var(--cor-preto) --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/*Seletor Global*/
* {
    padding: 0;
    /*espaço interno*/
    margin: 0;
    /*espaço externo*/
    box-sizing: border-box;
    /*atribui espaços interno/externos e bordas no tamanho final do box*/
    font-family: "Libre Baskerville", serif;
}

body {  
    background-color: var(--cor-branco-mais-menos);
}

h1 {
    position:   absolute;
    /*altera a posição do elemento*/
    z-index: -1;
    /*camadas do elemento*/
    opacity: 0;
    /*opacidade*/
}

/*formulario botão*/
.formulario-botao-azul {
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos>input {
    /*border: var(--borda);*/
    height: 35px;
    background-color: var(--cor-branco);

    color: var(--cor-azul-marinho);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

input[type="file"] {
  display: none;
}

.botao-upload {
  display: inline-block;
  padding: 12px;
  background-color: var(--cor-azul);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}

#texto-upload{
    display: inline-block;
    background-color: var(--cor-azul);
    border-radius: 2px;
    color: var(--cor-branco);
    width: 100%;
    min-height: 35px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    max-width: 300px;
}

label{
    display: inline-block;
    width: 300px;
}

.estilo-formulario{
    width: 100%;
    background-color: var(--cor-branco);
    border: var(--borda);
}

/* cabeçalho */
#cabecalho {
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center; /*Alinha os filhos na direção do flex no caso no centro*/
    border-bottom: var(--borda);
}

#cabecalho>nav {
    background-color: var(--cor-branco);
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo-mobile {
    display: none;
}

.cabecalho-acoes {
    background-color: var(--cor-branco);
    display: flex;
    align-self: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}

#foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* mantem a proporção com um zoom para adaptar ao tamanho do elemento  */
    object-position: center;
    border-radius: 50%;
}

/* RESPONSIVO*/
@media only screen and (max-width: 500px){
    #logo-mobile{
        display: initial;
    }

    #logo-desktop{
        display: none;
    }
}