main{
    background-color: var(--cor-azul);
    min-height: 100vh;/*minimo de altura da janela do dispositivo*/
    width: 100%;
    display: flex;/*ativa o flex*/
    align-items: center;
    justify-content: center;
}

main > div{
    /*background-color: var(--cor-branco);*/
    width: 90%;
    /*height: 600px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 30px;
}

form{
    /*background-color: #1B98E0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 3%;
}

.formulario-campos{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario-botao-azul{
   width: 100%;
}

form > p{
    text-transform: uppercase; /*deixe o texto em maiusculo*/
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
}

form > a, #secao-cadastro > p > a{
    color: var(--cor-azul);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;/*remove a decoração (sublinhado) que vem por baixo do link*/
}

#secao-cadastro > p{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

.estilo-formulario{
    max-width: 342px;
}

#secao-cadastro{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div>p{
    /*background-color: var(--cor-preto);*/
    font-size: var(--tamanho-fonte-sm);
}

main > div >p{
    /*background-color: var(--cor-branco);*/
}

#secao-instalacao{
    background-color: var(--cor-azul);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}